<!-- views/partials/head.ejs -->
<meta charset="UTF-8">
<!-- Needed for mobile sites to work -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Authorization | meetrum.io</title>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="/public/libs/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/public/libs/css/font-awesome.css">
<link rel="stylesheet" type="text/css" href="/public/stylesheets/layout.css">

<!-- fav icons -->
<link rel="apple-touch-icon" sizes="180x180" href="/public/images/fav-icons/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/public/images/fav-icons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/public/images/fav-icons/favicon-16x16.png">
<link rel="manifest" href="/public/images/fav-icons/site.webmanifest">
<link rel="mask-icon" href="/public/images/fav-icons/safari-pinned-tab.svg" color="#4bbecf">
<link rel="shortcut icon" href="/public/images/fav-icons/favicon.ico">
<meta name="apple-mobile-web-app-title" content="meetrum.io">
<meta name="application-name" content="meetrum.io">
<meta name="msapplication-TileColor" content="#4bbecf">
<meta name="msapplication-config" content="s/public/images/fav-icons/browserconfig.xml">
<meta name="theme-color" content="#ffffff">